{% extends "base.html" %}
{% block content %}  

<div class="container" style="margin-top:50px">
    <h2 class="mx-4 text-success">Update Product</h2>  
    <form class="form p-4" action="" method="POST" enctype ="multipart/form-data">
        {% csrf_token %}  
        <div class="m-2">
            <label class="form-label" for="name">Name:</label>   
            <div class="form-control">
                {{ form.name }}  
            </div>
        </div>
        <div class="m-2"> 
            <label class="form-label"  for="price">Price:</label>
            <div class="form-control">
                {{ form.price }} 
            </div>
        </div> 
        <div class="m-2">
            <label class="form-label"  for="desc">Description:</label>
            <div class="form-control">
                {{ form.desc }} 
            </div>
        </div> 
        <div class="m-2"> 
            <label class="form-label"  for="image">Image:</label> 
            <img style="width:10%" src="{{product.image.url}}" alt=""> 
            <div class="form-control">
                {{ form.image }} 
            </div>
        </div>
        <div class="form-control d-none"> 
            {{ form.seller_name }} 
        </div>

        <button class="mx-4 btn btn-success" type="submit">Update Product</button>
    </form>
</div>
{% endblock content %}


