{% extends "base.html" %}
{% block content %}

<div style="margin-top:70px" class="container shadow p-3"> 

    <h2>Login User</h2>  
    <form action="" method="POST" class='form '> 
        {% csrf_token %} 

        {% for field in form %} 
        <div class="form-group m-1"> 
            <label class="form-label" for="">{{field.label}} </label> 
            <div class="form-control">{{field}} </div>  
        </div>
        {% endfor %}

        <button class="btn btn-success mt-3" type="submit">Login</button>
    </form> 

    <div class="mt-3">Do not have an account?
        <a class="text-decoration-none fw-bolder" href="{% url "users:register" %}">Register</a> 
    </div>

</div>
{% endblock content %}